:root {
	--focus: #13005A;
	--focus_light: #1d0670;
	--secondary: #1C82AD;
	--trim: #03C988;
	--red: #cc2d2d;
	--green: #03C988;
}

.text {
	font-size: 25px;
}

.medium-text {
	font-size: 30px;
}

.large-text {
	font-size: 80px;
}

.focus {
	color: var(--focus);
}

.secondary {
	color: var(--secondary)
}

.trim {
	color: var(--trim);
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

/* The side navigation menu */
.topnav {
	height: 100%; /* 100% Full-height */
	width: 20%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--focus); /* focus*/
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: var(--focus);
	border-right-color: var(--trim);
	border-width: 3px;
}
  
  /* The navigation menu links */
.topnav p {
	padding: 16px 4px 4px 32px;
	height: 59px;
}

.topnav p:last-of-type {
	margin-top: auto;
	padding: 16px 4px 4px 32px;
}

.topnav a {
	font-size: 25px;
	color: var(--secondary);
	text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.topnav p:hover a{
	color: var(--secondary);
}

.topnav p:not(:first-child):hover {
	background-color: var(--focus_light);
	padding-right: 3px;
	border-style: solid;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-color: var(--focus_light);
	border-bottom-color: var(--trim);
	border-width: 3px;
}

.content {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 100%;
	background-color: var(--focus_light);
}

.login {
	height: 100%; /* 100% Full-height */
	width: 100%; /* 0 width - change this with JavaScript */
	position: fixed;
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--focus); /* focus*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.login form {
	padding-top: 20px;
}

.login input {
	background-color: var(--green); /* Green */
	border: none;
	color: var(--focus);
	padding: 10px 32px;
	margin-top: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.username {
	width: 231px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--focus);
}  

.no-outline:focus {
	outline: none;
}

.login button {
	background-color: var(--red); /* Green */
	border: none;
	color: var(--focus);
	padding: 10px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.login button:hover {
	background-color: var(--green);
	color: var(--focus);
}

.header {
	display: flex;
	justify-content: center;
}

.big-block {
	height: 36px;
	width: 36px;
	margin-top: 5px;
	background-color: var(--green);
}

.block {
	height: 15px;
	width: 15px;
	margin-top: 3px;
	margin-left: 3px;
	background-color: var(--green);
	z-index: 1;
}

.apple {
	height: 15px;
	width: 15px;
	background-color: var(--red);
	z-index: 1;
}

.position1 {
	position: absolute;
	left: 15%;
	top: 30%;
}

.position2 {
	position: absolute;
	left: 85%;
	top: 80%;
}

.snake-animation1 {
	position: absolute;
	left: 0;
	top: 50%;
	animation: snake1 11s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: row;
}
@keyframes snake1 {
	from {left: -15%;}
	to {left: 105%;}
}

.snake-animation2 {
	position: absolute;
	left: 20%;
	animation: snake2 8s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: column;
}
@keyframes snake2 {
	from {top: -15%;}
	to {top: 105%;}
}

.snake-animation3 {
	position: absolute;
	left: 80%;
	animation: snake3 10s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: column;
}
@keyframes snake3 {
	from {top: 115%;}
	to {top: -25%;}
}

.game {
	background-color: black;
	height: 60%;
	width: 50%;
	border-style: dashed;
	border-width: 3px;
	border-radius: 5px;
	border-color: var(--trim);
	margin-top: auto;
	margin-bottom: auto;
}