:root {
	--focus: #13005A;
	--focus_light: #1d0670;
	--secondary: #1C82AD;
	--trim: #03C988;
	--red: #cc2d2d;
	--green: #03C988;
}

.hotdog-mode {
	--focus: #ff0000;
	--focus_light: #ff3f3f;
	--secondary: #ffd500;
	--trim: #008726;
	--red: #ffc642;
	--green: #693300; 
}

.quote-box {
	height: fit-content;
	max-width: 70%;
	padding: 10px;
	background-color: #03C988;
	position: fixed;
	bottom: 0;
	right: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.784), 0 6px 20px 0 rgba(0, 0, 0, 0.743);
}

.players {
	position: fixed;
	right: 0;
	top: 0;
	color: #03C988;
	z-index: 10;
	padding: 10px;
}

.padding-bottom {
	padding-bottom: 50px;
}

.small-text {
	font-size: 20px;
}

.text {
	font-size: 25px;
}

.medium-text {
	font-size: 30px;
}

.large-text {
	font-size: 80px;
}

.focus {
	color: var(--focus);
}

.secondary {
	color: var(--secondary)
}

.trim {
	color: var(--trim);
}

.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.even {
	justify-content: space-evenly;
}

.between {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.left {
	align-content: start;
}

.width {
	width: 100%;
}

/* The side navigation menu */
.topnav {
	height: 100%; /* 100% Full-height */
	width: 20%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--focus); /* focus*/
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 var(--trim), 0 6px 20px 0 var(--trim);
}
  
  /* The navigation menu links */
.topnav p {
	padding: 16px 4px 4px 32px;
	height: 59px;
}

.topnav p:last-of-type {
	margin-top: auto;
	padding: 16px 4px 4px 32px;
}

.topnav a {
	font-size: 25px;
	color: var(--secondary);
	text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.topnav p:hover a{
	color: var(--secondary);
}

.topnav p:not(:first-child):hover {
	padding-right: 3px;
	box-shadow: 0 6px 10px -4px var(--trim), 0 6px 24px -10px var(--trim);
}

.content {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 100%;
	background-color: var(--focus_light);
}

.inset {
	position: absolute;
	right: 10%;
	bottom: 10%;
	width: 80%;
	height: 80%;
	background-color: var(--focus);
	box-shadow: 0 4px 8px 0 var(--trim), 0 6px 20px 0 var(--trim);
}

.login {
	height: 100%; /* 100% Full-height */
	width: 100%; /* 0 width - change this with JavaScript */
	position: fixed;
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--focus); /* focus*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.login form {
	padding-top: 20px;
}

.login input {
	background-color: var(--green); /* Green */
	border: none;
	color: var(--focus);
	padding: 10px 32px;
	margin-top: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-style: solid;
	border-color: var(--green);
	border-radius: 5px;
}

.username {
	width: 231px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--focus);
}  

.no-outline:focus {
	outline: none;
}

.login button {
	background-color: var(--red); /* Green */
	border: none;
	color: var(--focus);
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.login button:hover {
	background-color: var(--green);
	color: var(--focus);
	transition: 0.3s;
	cursor: pointer;
}

.log {
	margin-left: 5px;
}

.play-buttons {
	width: 600px;
}

.play-buttons button {
	background-color: var(--red);
	border: none;
	color: var(--focus);
	padding: 5px;
	padding-left: 50px;
	margin-top: 30px;
	margin-bottom: auto;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	border-style: solid;
	border-color: var(--red);
	border-radius: 5px;
}

.play-buttons button:hover {
	background-color: var(--green);
	color: var(--focus);
	transition: 0.3s;
	cursor: pointer;
	border-style: solid;
	border-color: var(--green);
	border-radius: 5px;
}

.play-buttons p {
	border: none;
	color: var(--green);
	padding: 5px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: auto;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}

.header {
	display: flex;
	justify-content: center;
}

.big-block {
	height: 40px;
	width: 40px;
	margin-top: 5px;
	background-color: var(--green);
	border-style: solid;
	border-color: var(--green);
	border-radius: 5px;
}

.block {
	height: 15px;
	width: 15px;
	margin-top: 3px;
	margin-left: 3px;
	background-color: var(--green);
	z-index: 1;
}

.apple {
	height: 15px;
	width: 15px;
	background-color: var(--red);
	z-index: 1;
}

.position1 {
	position: absolute;
	left: 15%;
	top: 30%;
}

.position2 {
	position: absolute;
	left: 85%;
	top: 80%;
}

.snake-animation1 {
	position: absolute;
	left: 0;
	top: 50%;
	animation: snake1 11s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: row;
}
@keyframes snake1 {
	from {left: -15%;}
	to {left: 105%;}
}

.snake-animation2 {
	position: absolute;
	left: 20%;
	animation: snake2 8s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: column;
}
@keyframes snake2 {
	from {top: -15%;}
	to {top: 105%;}
}

.snake-animation3 {
	position: absolute;
	left: 80%;
	animation: snake3 10s infinite;
	animation-timing-function: linear;
	display: flex;
	flex-direction: column;
}
@keyframes snake3 {
	from {top: 115%;}
	to {top: -25%;}
}

.game {
	background-color: black;
	height: fit-content;
	width: fit-content;
	box-shadow: 0 4px 8px 0 var(--trim), 0 6px 20px 0 var(--trim);
	margin-top: 50px;
}

.grid {
	width: 90%;
	color: var(--trim);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.784), 0 6px 20px 0 rgba(0, 0, 0, 0.743);
}

.grid th {
	border-style: solid;
	border-color: var(--trim);
	border-width: 1px;
}

.grid td {
	border-style: solid;
	border-color: var(--trim);
	border-width: 1px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	width: 60px;
	height: 34px;
	float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary);
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 0 2px 6px 0 var(--trim), 0 3px 10px 0 var(--trim);
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--focus);
	-webkit-transition: .4s;
	transition: .4s;
}
  
input.trim:checked + .slider {
	background-color: var(--trim)
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.alertBox {
    position: fixed;
	width: fit-content;
	height: fit-content;
    padding: 1rem, 1rem;
    margin-top: 5px;
	margin-left: 5px;
    color: inherit;
    background-color: var(--red);
	border-style: solid;
	border-radius: 5px;
	display: none;
}

@keyframes fadeOut {
	0% {opacity: 1;}
	50% {opacity: 1;}
	100% {opacity: 0;}	
}

.alertMsg {
	color: var(--focus);
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 10px;
}

.cancel::before {
	content: "\2715";
}

.cancel {
	position: absolute;
	top: 0;
	right: 0;
	color: var(--focus);
	padding-right: 10px;
}

.failure {
	opacity: 0;
	position: fixed;
	top: 40%;
	left: 50%;
	color: var(--red);
	font-size: 48px;
}

@keyframes fail {
	0% {opacity: 1;}
	10% {opacity: 1;}
	20% {opacity: 0;}
	30% {opacity: 0;}
	40% {opacity: 1;}
	50% {opacity: 1;}
	60% {opacity: 0;}
	70% {opacity: 0;}
	80% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 1;}	
}